.messengers__link {
  margin: 4px;
  border-radius: 15px;
  border-width: 2px;
  min-width: 65px;
  height: 55px;
}

.messengers__link--telegram {
  border-color: #039be5;
}

.messengers__link--whatsapp {
  border-color: #4caf50;
}

.messengers__link--viber {
  border-color: #9838b2;
}
