.messengers__link {
  margin: 4px;
  border-radius: 48px;
}

.messengers__link--telegram {
  border-color: #039be5;
}

.messengers__link--whatsapp {
  border-color: #4caf50;
}

.messengers__link--viber {
  border-color: #9838b2;
}

.messengers__link--skype {
	border-color: #ff0000;
	background: #808080;
	transition: box-shadow .2s;
}

.messengers__link--skype:hover {
	-webkit-box-shadow: 0px 0px 10px 0px #000000;
  -moz-box-shadow:    0px 0px 10px 0px #000000;
  box-shadow:         0px 0px 10px 0px #000000;
}