{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "react-hooks",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "usePrettierrc": true
      }
    ],
    "semi": "error",
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "curly": [
      "error",
      "all"
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "tabWidth": 4,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "react/prop-types": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "no-alert": "off",
    "react/jsx-props-no-spreading": [
      "error",
      {
        "custom": "ignore"
      }
    ],
    "react/state-in-constructor": "off",
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off"
  }
}