.welcomeview__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;

  cursor: pointer;
  line-height: 19px;
  font-size: 16px;
  color: #4d4d4d;

  border-radius: 15px;
  border: 2px solid rgba(153, 153, 153, 0.2);
  background-color: #fff;
}

.welcomeview__button:hover {
  border: 2px solid #4d4d4d;
  color: #4d4d4d;
  text-decoration: none;
}

.welcomeview__button:focus {
  outline: none;
}

.welcomeview__text {
  padding-left: 0.5rem;
}

.welcomeview__image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeview__image {
  width: 30px;
  height: 30px;
}
