.service {
  margin-bottom: 25px;
  padding: 15px 15px 9px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 13px var(--shadow);
  align-items: flex-start;
}

@media (min-width: 640px) {
  .service {
    margin-bottom: 30px;
    padding: 25px 45px 22px;
  }
}

@media (min-width: 1024px) {
  .service {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 25px 28px;
  }
}

.service:hover {
  box-shadow: 0 20px 30px var(--shadow);
}

.service__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

@media (min-width: 640px) {
  .service__title {
    font-size: 26px;
    line-height: 26px;
  }
}

.service__img {
  display: block;
  width: 100%;
  height: 144px;
  object-fit: cover;
  order: -1;
  margin-bottom: 26px;
  border-radius: 10px;
}

@media (min-width: 640px) {
  .service__img {
    height: 168px;
  }
}

@media (min-width: 1024px) {
  .service__img {
    margin-bottom: 19px;
  }
}

.service__text {
  margin: 0;
  margin-bottom: 26px;
  line-height: 22px;
  font-weight: 350;
}

@media (min-width: 640px) {
  .service__text {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 20px;
  }
}

.service__link {
  margin-top: auto;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.service__link:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .service__link {
    line-height: 20px;
  }
}

.serviceFree {
  color: #24BA7B;
}
