.welcomeview {
  text-align: center;
  line-height: 19px;
}
.welcomeview__block {
  padding: 20px 0;
  border-bottom: 1px solid #DDDDDD;
}

.welcomeview__messengers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcomeview__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.welcomeview__social-item:not(:last-child) {
  margin-bottom: 1rem;
}

.welcomeview__footer {
  font-size: 12px;
  color: #aaa;
  padding: .5rem 0;
}

.btn-link-vk {
  vertical-align: baseline !important;
  padding: 0 !important;
  margin: 0;
  text-decoration: underline;
}

.events-btn {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #EC7B28;
  background-color: rgba(236,123,40,0.2);
  width: 200px;
  height: 55px;
}

.events-btn:hover {
  text-decoration: none;
}

.events-btn__icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-style: none;
}

.events-btn__title {
  padding-left: 8px;
  line-height: 19px;
  font-size: 16px;
  color: #4d4d4d;
}

.services-btn {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #24BA7B;
  background-color: rgba(36,186,123,0.2);
  width: 200px;
  height: 55px;
}

.services-btn:hover {
  text-decoration: none;
}

.services-btn__icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-style: none;
}

.services-btn__title {
  padding-left: 8px;
  line-height: 19px;
  font-size: 16px;
  color: #4d4d4d;
}
