.new-event-view {
  width: 414px;
  margin: 0 auto;
  padding: 20px 0 30px;
}

.fieldset {
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
}

.fieldset:first-of-type {
  margin-top: 0;
}

.fieldset:nth-last-of-type(-2n+2) {
  margin-bottom: 30px;
}

.fieldset input {
  padding: 5px 10px;
  border: 1px solid #b1b1b1;
}

.fieldset label {
  margin-bottom: 0;
}

.fieldset__legend {
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.radio label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.radio input {
  margin-right: 10px;
}

.text label {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
}

.date label {
  display: flex;
  flex-direction: column;
}

.date input {
  /* margin-top: 15px; */
  width: 100%;
}

.fieldset.button {
  margin: 0 auto;
  width: 170px;
}
