.neweventview {
  width: 414px;
  margin: 0 auto;
  padding: 20px;
  /* text-align: center; */
}

.textinput {
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
}

.textinput__legend {
  font-weight: 700;
}

.radio label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.radio input {
  margin-right: 10px;
}

.text label {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
}

.text input {
  margin-top: 15px;
  width: 100%;
}

.text:last-of-type {
  margin-bottom: 50px;
}

.date label {
  display: flex;
  flex-direction: column;
}

.date input {
  width: 230px;
  margin-top: 15px;
  width: 100%;
}

.textinput.button {
  display: block;
  padding: 10px 20px;
}

.rte-container {
  width: 100%;
  min-width: 300px;
  max-width: 960px;
}
