.new-event-view {
  width: 414px;
  margin: 0 auto;
  padding: 20px;
  /* text-align: center; */
}

.fieldset {
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
}

.fieldset:nth-last-of-type(-2n+2) {
  margin-bottom: 30px;
}

.fieldset input {
  padding: 5px 10px;
  border: 1px solid #b1b1b1;
}

.fieldset__legend {
  font-weight: 700;
}

.radio label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.radio input {
  margin-right: 10px;
}

.text label {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
}

.text input {
  margin-top: 15px;
}

.date label {
  display: flex;
  flex-direction: column;
}

.date input {
  margin-top: 15px;
  width: 100%;
}

.fieldset.button {
  display: block;
  padding: 10px 20px;
}

.rte-container {
  width: 100%;
  min-width: 300px;
  max-width: 960px;
}
