.main-view {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.borderbottom {
  border-bottom: 1px solid rgba(200, 200, 200, 1);
}

.main-view-container {
  background: rgba(255, 255, 255, 0.15);
}

.list-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reset-link-style {
  color: #444;
}

.reset-link-style:hover {
  color: #444;
  text-decoration: none;
}

.margin-bottom {
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.word-wrap {
  word-wrap: break-word;
}

.events-view.button-link {
  width: 175px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-color: rgba(77, 77, 77, 0.2);
  border-radius: 48px;
}
