.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 8px 20px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-width: 0;
  color: white;
  position: relative;
}

.radio-button.disabled {
  background-color: rgb(170, 170, 170);
}

.radio-button:focus {
  outline: none;
}

.radio-button--default {
  background-color: #24ba7b;
  color: white;
}

.radio-button--service {
  background-color: #24ba7b;
  color: white;
}

.radio-button--service-active {
  background-color: #155724;
}

.radio-button--events {
  background-color: #ec7b28;
  color: white;
}

.radio-button--events-active {
  background-color: #853c08;
}

.radio-button__circle {
  display: none;
  background-color: white;
  border-radius: 3px;
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  left: 10px;
}

.radio-button__circle--active {
  display: block;
}

.radio-button__label {
  padding-right: 0;
}
