.event-item {
  text-align: left;
  color: #444;
  margin-bottom: 20px;
  padding: 35px 10px 20px;
  position: relative;
}

.events-view-container {
  background: rgba(255, 255, 255, 0.15);
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reset-link-style {
  color: #444;
}

.reset-link-style:hover {
  color: #444;
  text-decoration: none;
}
