.loginview {
  line-height: 19px;
}
.loginview__block {
  padding: 20px 0;
  border-bottom: 1px solid #DDDDDD;
}

.textinput {
  padding: 10px 0;
}

.textinput__label {
  display: inline-block;
  width: 70px;
  text-align: right;
  padding-right: 5px;
}

.textinput__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 230px;
  padding: 5px 10px;
  border-radius: 3px;
}
