.event-item {
  text-align: left;
  color: #444;
  margin-bottom: 20px;
  padding: 35px 10px 20px;
  position: relative;
}

.reset-link-style {
  color: #444;
}

.reset-link-style:hover {
  color: #444;
  text-decoration: none;
}
