.communitiesview {
  text-align: center;
}

.communities-view__button-link {
  width: 175px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-color: rgba(77, 77, 77, 0.2);
  border-radius: 48px;
}

.btn-community {
  border-width: 2px;
  border-radius: 15px;
  border-color: #66F;
  background-color: rgba(102,102,255,0.2);
  width: 200px;
  height: 55px;
}
