.page-header {
    position: relative;
    padding: 16px 10px 0;
    background-color: #3A5AFF;
  }
  
  @media (min-width: 1024px) {
    .page-header {
      padding: 18px 103px 0;
    }
  }
  
  
  .page-header__wrapper {
    max-width: 1160px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
  }
  
  @media (min-width: 1024px) {
    .page-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  
  .page-header__title-wrapper {
    position: relative;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  @media (min-width: 768px) {
    .page-header__title-wrapper {
      padding-bottom: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    .page-header__title-wrapper {
      margin-right: 40px;
      padding-top: 2px;
      padding-bottom: 16px;
    }
  }
  
  
  .page-header__logo {
    margin-right: 2px;
  }
  
  @media (min-width: 768px) {
    .page-header__logo {
      width: 50px;
      height: 50px;
      margin-right: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    .page-header__logo {
      width: 60px;
      height: 60px;
    }
  }
  
  
  @media (min-width: 768px) {
    .page-header__title {
      width: 132px;
      height: 23px;
    }
  }
  
  @media (min-width: 1024px) {
    .page-header__title {
      width: 145px;
      height: 26px;
    }
  }
  
  
  .page-navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 55px;
  }
  
  @media (min-width: 768px) {
    .page-navigation {
      height: 64px;
    }
  }
  
  @media (min-width: 1024px) {
    .page-navigation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      background-color: transparent;
    }
  }
  
  
  .page-navigation--open {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
  
  
  .page-navigation__toggle {
    position: relative;
    min-height: 40px;
    width: 40px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }
  
  .page-navigation__toggle:active {
    opacity: 0.3;
  }
  
  @media (min-width: 768px) {
    .page-navigation__toggle {
      width: 64px;
      min-height: 64px;
    }
  }
  
  @media (min-width: 1024px) {
    .page-navigation__toggle {
      display: none;
    }
  }
  
  .page-navigation__toggle::before {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    width: 21px;
    height: 3px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
  }
  
  @media (min-width: 768px) {
    .page-navigation__toggle::before {
      top: 24px;
      width: 36px;
      height: 4px;
      box-shadow: 0 9px 0 0 #ffffff;
    }
  }
  
  .page-navigation__toggle::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 10px;
    width: 21px;
    height: 3px;
    border-radius: 2px;
    background-color: #ffffff;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }
  
  @media (min-width: 768px) {
    .page-navigation__toggle::after {
      top: 42px;
      width: 36px;
      height: 4px;
    }
  }
  
  
  .page-navigation__toggle--open::before,
  .page-navigation__toggle--open::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 4px;
    width: 30px;
    height: 3px;
    background-color: #000000;
    box-shadow: none;
    transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;
  }
  
  @media (min-width: 768px) {
    .page-navigation__toggle--open::before,
    .page-navigation__toggle--open::after {
      top: 34px;
      right: 8px;
      width: 36px;
      height: 4px;
    }
  }
  
  .page-navigation__toggle--open::before {
    transform: rotate(45deg);
  }
  
  .page-navigation__toggle--open::after {
    transform: rotate(-45deg);
  }
  

  .page-navigation__list {
    visibility: hidden;
    margin: 0;
    padding: 26px 0 6px;
    list-style: none;
    text-align: center;
    background-color: #fafafa;
    opacity: 0;
    transform: translate(0px, -100%);
    transition: all 0.5s ease-in-out;
  }
  
  @media (min-width: 1024px) {
    .page-navigation__list {
      visibility: visible;
      opacity: 1;
      display: grid;
      grid-template-columns: repeat(4, max-content);
      column-gap: 52px;
      padding: 0;
      text-align: right;
      background-color: transparent;
      transform: translate(0px, 0px);
      transition: none;
    }
  }
  
  @media (min-width: 1366px) {
    .page-navigation__list {
      column-gap: 122px;
    }
  }
  
  
  .page-navigation__list--open {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    transition: all 0.5s ease-in-out;
  }
  
  
  .page-navigation__list li {
    margin-bottom: 30px;
  }
  
  @media (min-width: 1024px) {
    .page-navigation__list li {
      margin-bottom: 7px;
    }
  }
  
  @media (min-width: 1024px) {
    .page-navigation__list li:last-child {
      margin-right: 0;
    }
  }
  
  
  .page-navigation__item {
    position: relative;
    text-decoration: none;
    color: #000000;
    transition: all 300ms linear;
  }
  
  @media (min-width: 768px) {
    .page-navigation__item {
      font-size: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .page-navigation__item {
      color: #ffffff;
      font-size: 22px;
      line-height: 32px;
    }
  }
  
  .page-navigation__item::before,
  .page-navigation__item::after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: #ffffff;
  }
  
  .page-navigation__item::before {
    left: 0;
  }
  
  .page-navigation__item::after {
    right: 0;
    transition: width 0.3s;
  }
  
  .page-navigation__item:hover::before,
  .page-navigation__item:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
  
  .page-navigation__item:hover::after {
    transition-delay: 0.3s;
  }
  
  
  .page-navigation__item--fixed {
    transition: none;
  }
  
  .page-navigation__item--fixed::after {
    transition: none;
  }
  
  .page-navigation__item--fixed:hover::before,
  .page-navigation__item--fixed:hover::after {
    transition: none;
  }
  
  .page-navigation__item--fixed::before,
  .page-navigation__item--fixed::after {
    width: 100%;
  }
  
  
  .page-navigation--open .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  @media (min-width: 1024px) {
    .page-navigation--open .overlay {
      display: none;
    }
  }
  
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  
  
.page-main__title-wrapper {
    background-color: #3a5aff;
  }
  
  .page-main__title {
    margin: 0 auto;
    max-width: 1160px;
    padding: 26px 10px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #fff;
  }
  
  @media (min-width:768px) {
    .page-main__title {
      padding: 48px 10px;
      font-size: 35px;
      line-height: 40px;
    }
  }
  
  @media (min-width:1024px) {
    .page-main__title {
      padding: 69px 103px 46px;
      font-size: 50px;
      line-height: 57px;
    }
  }
  