.page-navigation__item {
  position: relative;
  text-decoration: none;
  color: #000000;
  transition: all 300ms linear;
}

@media (min-width: 768px) {
  .page-navigation__item {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .page-navigation__item {
    color: #ffffff;
    font-size: 22px;
    line-height: 32px;
  }
}

.page-navigation__item::before,
.page-navigation__item::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  width: 0;
  background-color: #ffffff;
}

.page-navigation__item::before {
  left: 0;
}

.page-navigation__item::after {
  right: 0;
  transition: width 0.3s;
}

.page-navigation__item:hover::before,
.page-navigation__item:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.page-navigation__item:hover::after {
  transition-delay: 0.3s;
}


.page-navigation__item--fixed {
  transition: none;
}

.page-navigation__item--fixed::after {
  transition: none;
}

.page-navigation__item--fixed:hover::before,
.page-navigation__item--fixed:hover::after {
  transition: none;
}

.page-navigation__item--fixed::before,
.page-navigation__item--fixed::after {
  width: 100%;
}
