.loginview {
  line-height: 19px;
  text-align: center;
}
.loginview__block {
  padding: 20px 0;
  border-bottom: 1px solid #DDDDDD;
}

.loginview__back {
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 26px;
  border-color: rgba(77, 77, 77, .2);
  border-radius: 48px;
}

.textinput {
  padding: 10px 0;
}

.textinput__legend {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.textinput__label {
  display: inline-block;
  width: 70px;
  text-align: right;
  padding-right: 5px;
}

.textinput__label-text--block {
  display: block;
  margin-bottom: 1rem;
}

.textinput__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 230px;
  padding: 5px 10px;
  border-radius: 3px;
}
