.welcomeview__button {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #fff;
  border: 1px solid #4D4D4D;
  cursor: pointer;
  line-height: 19px;
  font-size: 16px;
  color: #4d4d4d;
  margin: .5rem;
  border-radius: 3px;
}

.welcomeview__button:hover {
  border: 1px solid #4D4D4D;
  color: #4d4d4d;
  text-decoration: none;
}

.welcomeview__text {
  padding-left: .5rem;
}
