.events-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.events-filter__label {
  padding-right: 0px;
}

.events-filter__button {
  border-radius: 30px;
  padding: 8px 10px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-width: 0;
  background-color: #EC7B28;
  color: white;
}

.events-filter__button--disabled {
  background-color: rgba(170, 170, 170);
}

.events-filter__button:focus {
    outline: none;
}
