.header{
    align-items: center;
    height: 100px;
    width: 280px;
    background: #ffffff;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header__first-col {
    float: left;
    width: 100px;
    height: 100px;
    padding-top: 6px;
    margin-left: 6px;
}

@media screen and (max-width: 412px) {
    .header__first-col {
        width: 66px;
        height: 100px;
        padding-top: 6px;
        margin-left: 27px;
    }
}

.header__second-col {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;    
    padding-left: 6px;
}

.header__title {
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;
}

.header__subtitle {
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #AAAAAA;
    margin: 0;
}

.header__logo_big {
    width: 93px;
    height: 88px;
    border: 1px solid rgba(77, 77, 77, .2);
    border-radius: 3px;
}

@media screen and (max-width: 412px) {
    .header__logo_big {
        display: none;
    }
}

.header__logo_small {
    margin-top: 15px;
    width: 64px;
    height: 59px;
    border: 1px solid rgba(77, 77, 77, .2);
    border-radius: 3px;
}

@media screen and (min-width: 411px) {
    .header__logo_small {
        display: none;
    }
}

.header__logo-link {
    cursor: pointer;
}
