.header{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    background: #ffffff;
}

.borderbottom{
    border-bottom: 1px solid rgba(200, 200, 200, 1);
}

.header_title{
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #000000;
}