.header {
    align-items: center;
    background-color: black;
    display: flex;
    height: 80px;
    justify-content: center;
}
        
.header__text-effect {
    overflow: hidden;
    position: relative;
    filter: contrast(110%) brightness(190%);
}

.header__neon {
    position: relative;
    background: black;
    color: transparent;
}

.header__neon::before,
.header__neon::after {
    content: attr(data-text);
    color: white;
    filter: blur(0.02em);
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
}

.header__neon::after {
    mix-blend-mode: difference;
}

.header__gradient,
.header__spotlight {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    pointer-events: none;
    z-index: 10;  
}

.header__gradient {
    background: linear-gradient(45deg, green, orange, red);
    mix-blend-mode: multiply;
}

.header__spotlight {
    animation: light 5s infinite linear;
    background: 
        radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, 
        radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
    top: -100%; left: -100%;
    mix-blend-mode: color-dodge;
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

.header__neon {
    font: 700 60px 'Lato', sans-serif;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .header__neon {
        font: 700 40px 'Lato', sans-serif;
        text-align: center;
        margin: 0;
    }
}
