.event-item {
  text-align: left;
  color: #444;
  margin-bottom: 20px;
  padding: 35px 10px 20px;
  position: relative;
}

.border-top {
  border-top: 1px solid rgba(200, 200, 200, 1);
}

.event-date,
.event-summary,
.event-location {
  padding-left: 3px;
  padding-right: 7px;
}

.event-time {
  padding-left: 3px;
  padding-right: 3px;
}

.event-timezone {
  padding-right: 7px;
}

.event-more {
  margin: 15px 0 0 0;
}

.btn-container {
  margin: 15px 0 15px 0;
}

.event-description {
  text-align: justify;
}
.event-description a {
  word-wrap: break-word;
}
.btn {
  margin: 10px 10px 0 0;
}
.btn-email {
  margin-top: 0;
  margin-left: 15px;
  padding: 0;
  color: black !important;
}


/* Customize from 'react-add-to-calendar/dist/react-add-to-calendar.css'; */
.react-add-to-calendar__button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000;
}

.react-add-to-calendar__dropdown ul {
  padding-left: 0;
}

.share-icon {
  padding-right: 5px;
}

.calendar-name {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #999;
}

.button__image {
  position: relative;
  top : 13px;
  width: 10px;
  height: 10px;
}

.reset-link-style {
	color: #444;
}

.reset-link-style:hover {
    color: #444;
    text-decoration: none;
}
