.event-item {
  text-align: left;
  color: #444;
  padding: 10px 10px 20px;
}

.border-top {
  border-top: 1px solid rgba(200, 200, 200, 1);
}

.event-date,
.event-summary,
.event-location {
  padding-left: 3px;
  padding-right: 7px;
}

.event-time {
  padding-left: 3px;
}

.event-more {
  margin: 15px 0 0 0;
}

.event-timezone {
  padding-right: 7px;
  font-size: 12px;
}

.btn-container {
  margin: 15px 0 15px 0;
}

.event-description {
  text-align: justify;
}
.event-description a {
  word-wrap: break-word;
}
.btn {
  margin: 10px 10px 0 0;
}
.btn-email {
  margin-top: 0;
  margin-left: 15px;
  padding: 0;
  color: black !important;
}


/* Customize from 'react-add-to-calendar/dist/react-add-to-calendar.css'; */
.react-add-to-calendar__button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000;
}

.react-add-to-calendar__dropdown ul {
  padding-left: 0;
}

.share-icon {
  padding-right: 5px;
}

.event-card__calendar-name {
  float: right;
  padding: 0;
  margin: 0;
  color: #999;
}

.calendar-owner {
  color: #28a745;
}

.reset-link-style {
	color: #444;
}

.reset-link-style:hover {
    color: #444;
    text-decoration: none;
}

.event-card__header {
  min-height: 1rem;
  margin-bottom: 10px;
}

.event-card__label {
  display: inline-block;
  margin-right: 1rem;
}

.event-card__label--current {
  color: #dc3545;
}

.event-card__arrow {
  margin-left: 15px;
}
