.event-item {
  text-align: left;
  color: #444;
  padding: 10px 10px 20px;
}

.border-top {
  border-top: 1px solid rgba(200, 200, 200, 1);
}

.event-date {
  padding-left: 3px;
  padding-right: 7px;
}

.event-more {
  margin: 15px 0 0 0;
}

.event-timezone {
  padding-right: 7px;
  font-size: 12px;
}

.btn-container {
  margin: 15px 0 15px 0;
}

.event-description {
  text-align: justify;
}
.event-description a {
  word-wrap: break-word;
}
.btn {
  margin: 10px 10px 0 0;
}
.btn-email {
  margin-top: 0;
  margin-left: 15px;
  padding: 0;
  color: black !important;
}

/* Customize from 'react-add-to-calendar/dist/react-add-to-calendar.css'; */
.react-add-to-calendar__button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000;
}

.react-add-to-calendar__dropdown ul {
  padding-left: 0;
}

.share-icon {
  padding-right: 5px;
}

.calendar-owner {
  color: #28a745;
}

.event-card__header {
  min-height: 1rem;
  margin-bottom: 10px;
}

.event-card__label {
  display: inline-block;
  margin-right: 1rem;
}

.event-card__label--current {
  color: #dc3545;
}

.event-card__body {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.event-card__link {
  color: #007cff;
}
.event-card__link:hover {
  color: #007cff;
  text-decoration: none;
}

.event-card__content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.event-card__time {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.7rem;
}

.event-card__place {
  display: flex;
  gap: 0.6rem;
}
