.newserviceview {
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}

.textinput {
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.textinput__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 230px;
  padding: 5px 10px;
  border-radius: 3px;
}

.rte-container {
  width: 100%;
  min-width: 300px;
  max-width: 960px;
}

.serviceFormView-arrowBack-btn {
  width: 155px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-color: rgba(77, 77, 77, .2);
  border-radius: 48px;
}

.external_link_btn {
  margin: 8px;
}

.telegram_btn {
  border-color: #139BD0;
}

.whatsapp_btn {
  border-color: #57BB63;
}

.viber_btn {
  border-color: #7C519B;
}
