.new-service-view {
  width: 414px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}

.fieldset {
  padding: 10px 20px;
  display: flex;
  flex-flow: column;
}

.fieldset input {
  padding: 5px 10px;
  border: 1px solid #cccccc;
}

.fieldset__legend {
  font-weight: 700;
}

.text input {
  width: 100%;
  margin-top: 15px;
}

.radio label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.radio input {
  margin-right: 10px;
}

.fieldset.button {
  display: block;
  padding: 10px 20px;
}

.rte-container {
  width: 100%;
  min-width: 300px;
  max-width: 960px;
}

.fieldset:nth-last-of-type(-2n+2) {
  margin-bottom: 30px;
}

.serviceFormView-arrowBack-btn {
  width: 155px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-color: rgba(77, 77, 77, .2);
  border-radius: 48px;
}

.external_link_btn {
  margin: 8px;
}

.telegram_btn {
  border-color: #139BD0;
}

.whatsapp_btn {
  border-color: #57BB63;
}

.viber_btn {
  border-color: #7C519B;
}

.service-form__label {
  margin-bottom: 1.25rem;
}
