.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  background-color: #fff;
  border: 1px solid #4D4D4D;
  border-radius: 3px;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.link_image_for_navigation {
  position: relative;
  bottom: 2px;
  left: -15px;
  width: 15px;
  height: 15px;
}

.link_image_welcome_list{
  width: 30px;
  height: 30px;
}

.link__text {
  line-height: 19px;
  font-size: 16px;
  color: #4d4d4d;
}
