.service-item {
  text-align: left;
  color: #444;
  margin-bottom: 20px;
  padding: 35px 10px 20px;
  position: relative;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.service-view.button-link {
  margin-bottom: 10px;
  border-color: rgba(77, 77, 77, 0.2);
  border-radius: 48px;
  min-width: 155px;
}

.service-view.button-link:first-child {
  margin-right: 8px;
}

.arrow-back-btn {
  width: 155px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-color: rgba(77, 77, 77, .2);
  border-radius: 48px;
}
