.App {
  text-align: center;
}

.App-fixed-image {
    background: no-repeat center center fixed; 
    background-image: url(/img/people_1280.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
